<!DOCTYPE html>
    <%- include("partials/header.ejs") %>
    <body>
        <title>Stock Management | Bodega</title>
        <div class ="container">
            <table class = "table table-striped table-bordered" id = "sortTable">
                <thead>
                    <tr>
                        <th scope ="col">nombre</th>
                        <th scope ="col">stock</th>
                    </tr>
                </thead>
                <tbody>
                <% for(var i=0; i < prods.length; i++) { %>
                    <tr>
                        <td><%= prods[i].nombre %></td>
                        <td><%= prods[i].stock %></td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </body>
    <script>
        $('#sortTable').DataTable();
    </script>
</html>