<!DOCTYPE html>
    <%- include("header.ejs") %>
    <body>
        <div class ="container">
            <table class = "table">
                <thead>
                    <tr>
                        <th scope ="col">codigo</th>
                        <th scope ="col">nombre</th>
                        <th scope ="col">precio</th> 
                    </tr>
                </thead>
                <tbody>
                <% for(var i=0; i < prods.length; i++) { %>
                    <tr>
                        <td><%= prods[i].codigo %></td>
                        <td><%= prods[i].nombre %></td>
                        <td><%= prods[i].precio %></td>
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
        <!-- falta crear la funcion que entregue la wea que mas se vendio-->
    </body>
</html>