<!DOCTYPE html>
    <%- include("header.ejs") %>
    <body>
        <div class ="container">
            <table class = "table" id = "sortTable">
                <thead>
                    <tr>
                        <th scope ="col">Codigo</th>
                        <th scope ="col">Vendedor</th>
                        <th scope ="col">Total</th> 
                    </tr>
                </thead>
                <tbody>
                <% for(var i=0; i < ventas.length; i++) { %>
                    <tr>
                        <td><%= ventas[i].codigo %></td>
                        <td><%= ventas[i].vendedor %></td>
                        <td><%= ventas[i].total %></td>
                        
                        
                    </tr>
                <% } %>
                </tbody>
            </table>
        </div>
    </body>
    <script>
        $('#sortTable').DataTable();
    </script>
    <!--Falta hacer e integrar la funcion que muestre la relación de ventas con respecto al mes anterior-->
</html>